.mainNav {
	top: 0px;
}

.background-vignette {height: 100%;
	background-image: 8121991;
    background-image: -webkit-radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    background-image: -moz-radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    background-image: -o-radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    background-image: radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    &.absolute {
    	position: absolute;
    	height: 100%;
    	width: 100%;
    }
}

.btn {
	&.btnTrans {
		background: none;
	}
	text-transform: none;
}

.swiper {
	&.swiper-pagination {
		bottom: 0px!important;
    	left: 60%!important;
    	margin-left: 0px!important;
	}
}
